<!-- <a [routerLink]="[data.url]"> -->
<div class="card card-stats itcar" style="cursor: pointer;" (click)="goTo()">
  <div class="card-body ">
    <div class="row">
      <div class="col-5 col-md-4">
        <div class="icon-big text-center icon-warning">
          <!--<i class="nc-icon {{data.iconUrl}} text-warning"></i>-->
        </div>
      </div>
      <div class="col-7 col-md-8">
        <div class="numbers">
          <!-- <p class="card-category">{{ data.title }}</p> -->
          <p class="card-category">Ver</p>
          <p class="card-title">{{ data.title }}
            <p>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer ">
    <hr>
    <div class="stats">
      <i class="fa fa-refresh"></i> {{ data.description }}
    </div>
  </div>
</div>
<!-- </a> -->
