<!-- <div (click)="goTo()" style="cursor: pointer;">
<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ data.title }}
    </mat-card-title>
  </mat-card-header>
</mat-card>
</div> -->
<!-- <a [routerLink]="[data.url]">-->
  <div class="card card-stats itcar" style="cursor: pointer;" (click)="goTo()">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon {{data.iconUrl}} text-warning"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">{{ data.title }}</p>
              <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-refresh"></i> {{ data.description }}
      </div>
    </div>
  </div>
<!-- </a> -->

